:root {
    --blue: #0A3871;
    --main-color: #EFF1FA;
    --inter-font: "Inter", sans-serif;
    --blanco: #faf8f8;
    --gris: #555557;
    --light-blue-300: #E9ECF8;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--main-color);
    font-family: var(--inter-font);
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 5rem;
    width: 60%;
}

main {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.main_content {
    display: flex;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
}

.form_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
}

.form_input {
    width: 100%;
    border-color: transparent;
    background: transparent;
    height: 64dvh;
    outline: none;
    color: var(--blue);
    font-family: var(--inter-font);
    font-size: 3.2rem;
    margin-bottom: 3rem;
    overflow: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 24px;

}

::placeholder {
    color: var(--blue);
}

.alert_msj {
    display: flex;
    align-items: center;
    gap: .7rem;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: var(--gris);

}

.submit_container {
    display: flex;
    gap: 1rem;
}

.form_btn {
    background: var(--blue);
    color: var(--blanco);
    font-size: 1.6rem;
    padding: 1rem 2rem;
    width: 150px;
    height: 50px;
    border-radius: 24px;
    border: none;
}

.form_btn--secundary {
    background: var(--blanco);
    color: var(--blue);
    font-size: 1.6rem;
    padding: 1rem 2rem;
    width: 150px;
    height: 50px;
    border-radius: 24px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.wrapers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.result_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 16px;
    background-color: var(--blanco);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 577px;
    height: 64dvh;
    margin-bottom: 1rem;
}

.result_container {
    text-align: center;
}

.result_img {
    width: auto;
    height: auto;
    margin-bottom: 1rem;

}

.result_title {
    font-size: 1.5rem;
    color: var(--gris);
    margin-bottom: 1rem;
}

.result_text {
    font-size: 2rem;
    color: var(--blue);
    margin-bottom: 2rem;
    width: 250px;
    height: 250px;
    overflow: auto;
    box-sizing: border-box;
}

.copy_button_container {
    display: flex;
    justify-content: flex-end;
    color: var(--light-blue-300);
}

.result__btn {
    margin: 0;
}

.pielogo {
    align-items: center;
    width: 50%;
    height: auto;
    max-width: 50%;
    object-fit: contain;
}

.footer_msj {
    display: flex;
    align-items: center;
    gap: .7rem;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: var(--light-blue-300);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    background-color: var(--blue);
    border-top: none;
}


.hidden {
    display: none;
}

.show {
    display: block;
}

@media screen and (max-width: 480px) {
    html {
        font-size: 50%;
    }

    header {
        width: 90%;
        margin-bottom: 3rem;
    }

    .main_content {
        flex-direction: column;
        gap: 1rem;
    }

    .form_section {
        width: 100%;
    }

    .form_input {
        font-size: 1.4rem;
        height: auto;
    }

    .submit_container {
        flex-direction: column;
        gap: 1rem;
    }

    .form_btn,
    .form_btn--secundary {
        font-size: 1.2rem;
        height: 40px;
        padding: 0.5rem 1rem;
    }

    .result {
        padding: 1rem;
        width: 100%;
        max-width: 100%;
        box-shadow: none;
        height: auto;
    }

    .result_img {
        max-width: auto;
        margin-bottom: 0.75rem;
    }

    .result_title {
        font-size: 1.2rem;
    }

    .result_text {
        font-size: 1.4rem;
        margin-bottom: 1rem;

    }


    .pielogo {
        width: 80%;
        max-width: 150px;
    }

    footer {
        padding: 1rem;
    }
}

@media (max-width: 600px) {
    .result_text {
        font-size: 1.5rem;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .result_text {
        font-size: 1.75rem;
    }
}